{% extends 'layout.html' %}

{% block body %}
<style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
    </style>
  <div class="jumbotron text-center">
    
    
   

   
      <h1>List of students</h1>
      <table id="customers">
        <tr>
          <th style="text-align:center">Name</th>
          <th style="text-align:center">Age</th>
          <th style="text-align:center">Level</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{ d.name}}</td>
            <td>{{ d.age}}</td>
            <td>{{ d.level}}</td>
          </tr>

        {% endfor %}
      </table>

  
  </div>
{% endblock %}
